/* Font */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

/* Color Variables */
:root {
    --light-blue: 234, 25%, 52%;
    --dark-blue: 233, 54%, 16%;
    --gray: 232, 10%, 56%;
    --hot-pink: 341, 92%, 62%;
    --light-pink: 341, 100%, 83%;
    --white: 0, 0%, 100%;
    --orange-to-pink: #FF6F48, #F02AA6;
    --blue-to-pink: #4851FF, #F02AA6;

    --ff-jakarta: 'Plus Jakarta Sans', sans-serif;

    --fw-500: 500;
    --fw-700: 700;
    --fw-800: 800;
}
/* Box Model Hack */
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clear {
   clear: both;
}
.wrapper {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 2.5rem;
}
/******************************************
/* GENERAL STYLES
/*******************************************/
body {
    font-family: var(--ff-jakarta);
    color: hsl(var(--gray));
    font-size: 1.6rem;
    font-weight: var(--fw-500);
    line-height: 2.8rem;
    background: linear-gradient(to bottom, #FFFFFF 0%, #F0F1FF 100%);
}
h1,
h2,
h3 {
    font-weight: var(--fw-800);
    color: hsl(var(--dark-blue));
}
h1 {
    font-size: 4rem;
    line-height: 5rem;
}
h2 {
    font-size: 2.4rem;
    line-height: 3.2rem;
}
h3 {
    font-size: 2rem;
    line-height: 2.5rem;
}
a:link {
    color: hsl(var(--hot-pink));
    font-weight: var(--fw-700);
    text-decoration: none;
    font-size: 1.8rem;
}
.cta {
    padding: 0.8rem 1.8rem;
    text-decoration: none;
    border-radius: 2.8rem;
    color: hsl(var(--white)) !important;
}
.cta--link {
    color: hsl(var(--hot-pink));
}
.cta--dark {
    background-color: hsl(var(--dark-blue));
}
.cta--dark:hover {
    background-color: hsl(var(--light-blue));
}
.cta--lg {
    padding: 1rem 3.5rem;
}
.cta--gradient-orange {
    background: linear-gradient(to bottom, var(--orange-to-pink));
}
.cta--gradient-purple {
    background: linear-gradient(to bottom, var(--blue-to-pink));
}
.cta--gradient-orange:hover,
.cta--gradient-purple:hover {
    opacity: 0.6;
}

/******************************************
/* HERO
/*******************************************/
.hero__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0 2.5rem 0;
}
.hero .wrapper {
    position: relative;
}
.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}
.hero__decor-img {
    background-image: url(../images/image-hero-mobile@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 100%;
    height: 34rem;
}

/******************************************
/* COURSES
/*******************************************/
.courses {
    margin-bottom: 10rem;
}
.courses__container {
    display: grid;
    gap: 4rem;
}
.courses__gradient {
    background: linear-gradient(to bottom, var(--orange-to-pink));
    padding: 2rem 1.5rem;
    border-radius: 1.8rem;
}
.courses__gradient-heading {
    color: hsl(var(--white));
}

.courses__ind-course {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    background-color: hsl(var(--white));
    padding: 3.5rem 2rem;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 1rem;
}
.courses__ind-course a {
    margin-top: auto;
}
.courses__icon {
    position: absolute;
    top: -2.2rem;
    left: 2.2rem;
}

/******************************************
/* FOOTER
/*******************************************/
.footer {
    background: hsl(var(--dark-blue));
    padding: 3.5rem 0;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media (min-width: 768px) {
    body {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 2.3rem;
    }
    .hero {
        margin-bottom: 20rem;
    }
    .courses__container {
        gap: 1rem;
        row-gap: 5rem;
        grid-template-columns: 1fr 1fr;
    }
    .hero__content {
        width: 40rem;
        margin-top: 8rem;
    }
    .hero {
        position: relative;
    }
    .hero__decor-img {
        background-image: url(../images/image-hero-tablet@2x.png);
        height: 64rem;
        width: 64rem;
        position: absolute;
        right: -29rem;
        top: -6rem;
        z-index: -1;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 5.6rem;
        line-height: 7rem;;
    }
    h2 {
        font-size: 3.2rem;
        line-height: 4rem;
    }
    .hero {
        margin-bottom: 25rem;
    }
    .hero__content {
        width: 46rem;
        margin-top: 8rem;
    }
    .courses__container {
        gap: 3rem;
        row-gap: 6rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .hero__decor-img {
        background-image: url(../images/image-hero-desktop@2x.png);
        height: 93rem;
        width: 95rem;
        right: -32rem;
        top: -21rem;
    }
}